html { 
    background: url("../../assets/images/top-view-roasted-coffee-beans-with-copy-space_23-2148251565.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    color: burlywood;
    font-weight: 600;
    margin: 10px auto;
}
#wrapper2 {
  color: rgb(192, 77, 77)
}

#wrapper {
  color: rgb(192, 77, 77)
}


